[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "avnishsachar.github.io"]
	path = avnishsachar.github.io
	url = git@github.com:avnishsachar/avnishsachar.github.io.git
